<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom">
    <div class="container">
      <a class="navbar-brand" href="/home">MyApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/collection">Collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/open">Open Pack</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/leaderboard">Leaderboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/trade">Trade</a>
          </li>
        </ul>
        <div class="d-flex">
          <a class="nav-link" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</header>
